{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "semi": true
      }
    }
  ]
}
